@import url("common.css");

*{
    box-sizing :border-box;
}

body,html{
    margin:0px;
    padding:0px;
    height:100%;
    box-sizing :border-box;
}

.main_contents{
    display:flex;
    height:92%;
    flex-direction:column;
}


.bottom_side{
	display:flex;
	flex-direction:row;
	width:100%;
	height:60%;
}

.bottom_left{
	width:50%;
	border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 8px #d0d0d0, -2px -2px 8px #ffffff;
    display: table-cell;
    vertical-align: middle;
    margin: 15px 15px 30px 30px;
    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
    padding: 15px;
    position:relative;
}

.bottom_right{
	width:50%;
	border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 8px #d0d0d0, -2px -2px 8px #ffffff;
    display: table-cell;
    vertical-align: middle;
    margin: 15px 30px 30px 15px;
    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
    padding: 15px;
    position:relative;
}

.aam_sub_title{
	color:#3462DC;
	margint-bottom:10px;
}
.qna_table{
	margin-top:30px;
	text-align:center;
	border-top: 1px solid #d0d0d0;
    border-collapse: collapse;
}
.expand_but{
	width:20px;
	height:20px;
	float:right;
}

.qna_table th,td{
	text-align:center;
	 border-bottom: 1px solid #d0d0d0;
	 padding : 5px auto;
	 
}
#mentor-videos{
	width:1400;
	border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 8px #d0d0d0, -2px -2px 8px #ffffff;
    display: table-cell;
    vertical-align: middle;
    margin: 30px 30px 15px 30px;
    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
    padding: 15px;
    position:relative;
	height:50%;
}
  
/*post slider*/
.post-slider{
  width:100%;
  margin:10px;
  position:relative;
}
.post-slider .silder-title{
  text-align:center;
  margin:30px 10px;
}
.post-slider .next{
  position:absolute;
  top:30%;
  right:30px;
  font-size:2em;
  color:#3462DC;
  cursor: pointer;
}
.post-slider .prev{
  position:absolute;
  top:30%;
  left:30px;
  font-size:2em;
  color:#3462DC;
  cursor: pointer;
}
.post-slider .post-wrapper{
  width:90%;
  margin:0px auto;
  overflow: hidden;
  padding:10px 0px 10px 0px;
}
.post-slider .post-wrapper .post{
  width:200px;
  margin:0px 10px;
  display:inline-block;
  background:white;
  border-radius: 5px;
}
.post-slider .post-wrapper .post .post-info{
  font-size:15px;
  height:10%;
  padding-left:10px;
}
.post-slider .post-wrapper .post .slider-image{
  width:90%;
}
  


/*
    side section
*/
.area_section,
.jobs_section{
	min-height:400px;
	height:92%;
    margin:0px;
    padding-top:0px;
    width:210px;
    background-color : #252525;
    display:flex;
    justify-content: center;
}
.area_section table, 
.jobs_section table{
    text-align:center;
    margin-top:0px;
    border-collapse:collapse;
    margin-top:0px;
}
.area_section table th,
.jobs_section table th
{
    text-align : center;
    font-size : 13px;
    padding : 6px 10px;
    border-right:none;
    background-color: #252525;
    height:50px;
    color:#f1f1f1;
}
.area_section table th span,
.jobs_section table th span
{
    height : 25px;
    width : 110px;
    border-radius: 4px;
    background: #3462DC
}

.area_section table td
{
    height:70px;
    padding-top:15px;
}

.jobs_section table td
{
    height:30px;
    padding-top:12px;
    font-size:13px;
    font-weight:700;
}

.jobs_section table td:hover
{
    cursor:pointer;
}

.area_table img{
    width:130px;
}

.area_table img:hover{
    cursor:pointer;
}

.gi_jobs{
    color:#4da345;
}

.cd_jobs{
    color:#db8a3f;
}

.de_jobs{
    color:rgb(191, 122, 231);
}

.vc_jobs{
    color:#a1e1f5;
}

.md_jobs{
    color:#ff8888;
}
