<?xml version="1.0" encoding="UTF-8"?>
<!-- Sql Mapper -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.starter.dao.adminDAO">
    <!-- DAO의 메서드가 될 것이다. -->

    <select id="curriList" resultType="com.spring.starter.model.curriDTO">
				select * from curriculum_admin order by category desc, page_id;
		</select>

    <select id="deleteCurriculum" resultType="com.spring.starter.model.curriDTO">
				delete from curriculum_admin
        <where>
            <if test="value != null">AND page_id = #{page_id} </if>
        </where>
	</select>

    <!--
    Mentor Mapper
    -->
    <select id="mentorList" resultType="com.spring.starter.model.mentorDTO">
				select * from mentor order by category desc, page_id;
		</select>

    <select id="mentorDetailList" resultType="com.spring.starter.model.mentorDTO">
				select * from mentor order by category desc, page_id;
        <where>
            <if test="value != null">AND id = #{id} </if>
        </where>
    </select>

    <select id="addMentor" resultType="com.spring.starter.model.mentorDTO">
				select * from mentor order by category desc, page_id;
        <where>
            <if test="value != null">AND page_id = #{page_id} </if>
        </where>
    </select>

    <select id="updateMentor" resultType="com.spring.starter.model.mentorDTO">
				select * from mentor order by category desc, page_id;
        <where>
            <if test="value != null">AND id = #{id} </if>
        </where>
    </select>

</mapper>