<?xml version="1.0" encoding="UTF-8"?>
<!-- Sql Mapper -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.starter.dao.cilDAO">

    <select id="subjectList" resultType="com.spring.starter.model.cilDTO">
				select cp.*,ms.name,ms.is_mandatory
				  from mil_db.cil_position cp
		    inner join mil_db.mil_subject ms
				    on cp.subject = ms.code
			  order by cp.row_id, cp.col_id;
		</select>

	<select id="subjectDetailList" resultType="com.spring.starter.model.cilDetailDTO" parameterType="map">
		select ms.*,cs.page_id
		from mil_db.mil_subject ms
		inner join mil_db.cil_subjectcore cs
		on ms.code = cs.subject
		<where>
			<if test="value != null">AND ms.code = #{subject} </if>
		</where>
		and cs.page_id in ('129','130','131','132','133')
	</select>
	<select id="subjectCoreList" resultType="com.spring.starter.model.cilDetailCoreDTO">
		select cs.subject,cs.page_id
		from mil_db.cil_position cp
		inner join mil_db.cil_subjectcore cs
		on cp.subject = cs.subject
		where cs.page_id in ('129','130','131','132','133')
		and cs.type != 'support' and cs.type != ''
		<where>
			<if test="value != null">AND cp.subject = #{subject} </if>
		</where>
	</select>

	<select id="subjectPreList" resultType="com.spring.starter.model.cilPreDTO" parameterType="map">
		select sub.subject as main_subject, sub.pre_subject as main_pre_subject, psub.pre_subject as sub_pre_subject
		from prerequisite_subjects sub
		join prerequisite_subjects psub
		on sub.pre_subject = psub.subject
		<where>
			<if test="value != null">AND sub.subject = #{subject} </if>
		</where>
	</select>

	<select id="jobList" resultType="com.spring.starter.model.jobDTO">
		select jobs.*
		from mil_db.jobs jobs
		<where>
			<if test="value != null">AND cp.job_id = #{jobs_id} </if>
		</where>
	</select>
	<select id="subjectTrackList" resultType="com.spring.starter.model.cilTrackDTO" parameterType="map">
		select cp.col_id ,cp.row_id ,cp.subject, cs.page_id, cs.type
		from mil_db.cil_position cp join mil_db.cil_subjectcore cs
		on cp.subject = cs.subject
		<where>
			<if test="value != null">AND cs.page_id = #{page_id} </if>
		</where>
	</select>
</mapper>